* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Montserrat', sans-serif;  
}
li{
  list-style: none;
}
.social-medias{
  min-width: 400px;
  padding: 8px;
  background: #507752;
  text-align: center;
}
.social-medias img{
  margin: 0 8px;
}
.container{
  width: 100vw;
  min-width: 400px;
  height: auto;
  background-image: linear-gradient(#b8b8b7, #2d5e2d, gray, black);
}
.presentation {
  min-height: 400px;
  padding: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
}
.presentation .container-img {
  width: 150px;
  text-align: center;
  margin: 0 24px;
}

.presentation .container-img img {
  width: 100%;
 
}
.presentation .container-info {
  max-width: 440px; 
  margin: 12px 24px;
}
.container-fullname {
  margin: 12px 0;
}
.container-fullname .name {
  animation-name: libian;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.container-fullname .lastname {
 animation-name: libian;
 animation-duration: 8s;
 animation-fill-mode: forwards;
}

@keyframes libian {
  0%{
    color: #507752;
  }
  25%{
    color: yellow;
  }
  50%{
    color: #adff2f;
  }
  75%{
    color: white;
  }
  100%{
    color: #adff2f
  }
}
.presentation h1{
  font-size: 2.8rem;
  font-weight: bold;
  color: white; 
}
.presentation p{
  font-size: 1.8rem;
  color: white; 
}
.skills {
  padding: 24px;
}
.skills-container{
  margin-top: 24px;
  display: grid;
  justify-items: center;
  gap: 24px;
}
.skills .title {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 12px auto;
  position: relative;
  height: 40px;
  text-align: center;
}
.skills .title span {
  animation-name: come;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
.skills-container-item {
  width: 220px;
  padding: 12px;
  text-align: center;
  border: 4px solid #47503a;
  border-radius: 15px;
  background: #507752;
  color: white;
}

/*
@keyframes come {
  from {
   color: #507752;
   margin-left: 0;
   
  }
  to {
    color: black;
    margin-left: auto;
  }
}
*/
/*
.skills .title .letter1{
  display: inline;
}
.skills .title .letter2{
  display: inline;
  margin-left: 20px;
}
.skills .title .letter3{
  display: inline;
  margin-left: 30px;
}
.skills .title .letter4{
  display: inline;
  margin-left: 55px;
}
.skills .title .letter5{
  display: inline;
  margin-left: 70px;
}
.skills .title .letter6{
  display: inline;
  margin-left: 70px;
}
*/
.icons {
  width: 120px;
}

@media(min-width: 520px){
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 750px){
  .presentation {
    flex-direction: row;
      
  }
  
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
}